<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>redis</title>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
</head>
<style>
    p{
        display: inline;
    }
    textarea{
        resize: none;
    }
</style>
<body>

<div>
    <div>
        <p class="key" data-value="{$key|default=''}">{$key|default=""}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>类型：{$type|default=""}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>过期：<label for="ttl"></label><input type="number" id="ttl" value="{$ttl|default=''}" /></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p><input type="button" class="ttl" value="保存" /></p>
    </div>
    <div style="margin-top: 10px;">
        <label>
            <textarea rows="40" style="width: 99%;height: 90%;" class="string">{$re|default=""}</textarea>
        </label>
    </div>
    <div>
        <input type="button" class="save" value="保存" />
    </div>
</div>

</body>
</html>
<script type="text/javascript">
    let redis = $('.redis', parent.document).data('value');
    let database = $('.database', parent.document).data('value');
    let key = $('.key').data('value');
    $('.save').click(function () {
        let string = $('.string').val();
        $.ajax({
            type : "POST",
            async: false,
            contentType: "application/json;charset=UTF-8",
            url : "/edit/string",
            dataType: "json",
            data : JSON.stringify({redis:redis, database:database, key:key, string:string}),
            success : function(result) {
                if (result.code == 1) {
                    alert(result.msg);
                    location.reload();
                } else {
                    alert(result.msg);
                }
            },
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });
    $('.ttl').click(function () {
        let ttl = $('#ttl').val();
        $.ajax({
            type : "POST",
            async: false,
            contentType: "application/json;charset=UTF-8",
            url : "/edit/ttl",
            dataType: "json",
            data : JSON.stringify({redis:redis, database:database, key:key, ttl:ttl}),
            success : function(result) {
                if (result.code == 1) {
                    alert(result.msg);
                    location.reload();
                } else {
                    alert(result.msg);
                }
            },
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });
</script>
