<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>redis</title>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
</head>
<style>
    p{
        display: inline;
    }
    textarea{
        resize: none;
    }
    .del{
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css">
<body>

<div>
    <div>
        <p class="key" data-value="{$key|default=''}">{$key|default=""}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>类型：{$type|default=""}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>过期：<label for="ttl"></label><input type="number" id="ttl" value="{$ttl|default=''}" /></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p><input type="button" class="ttl" value="保存" /></p>
    </div>
    <div style="margin-top: 10px;">
        {foreach $re as $k => $vo }
        <div class="item" style="margin-top: 8px;height: 60px;display:flex;">
            <div style="float: left;width: 60%;align-self:center;">
                <p>
                    <label>
                        <textarea rows="3" style="width: 99%;" readonly>{$k|default=""}</textarea>
                    </label>
                </p>
            </div>
            <div style="float: left;width: 39%;align-self:center;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p>
                    <input type="number" class="score" value="{$vo|default=''}" />
                </p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p><input type="button" class="save" data-value="{$k}" value="保存" /></p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p><i class="fa fa-trash del" style="color: red;" data-value="{$k}" aria-hidden="true"></i></p>
            </div>
        </div>
        {/foreach}
    </div>
</div>

</body>
</html>
<script type="text/javascript">
    let redis = $(".redis", parent.document).data("value");
    let database = $(".database", parent.document).data("value");
    let key = $(".key").data("value");
    $(".save").click(function () {
        let k = $(this).data("value");
        let div = $($(this).parents("div")[0]);
        let score = div.find(".score").val();
        $.ajax({
            type : "POST",
            async: false,
            contentType: "application/json;charset=UTF-8",
            url : "/edit/editZset",
            dataType: "json",
            data : JSON.stringify({redis:redis, database:database, key:key, k:k, score:score}),
            success : function(result) {
                if (result.code == 1) {
                    alert(result.msg);
                    location.reload();
                } else {
                    alert(result.msg);
                }
            },
            error : function(e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });
    $(".del").click(function () {
        if (confirm("确定删除？")) {
            let k = $(this).data("value");
            $.ajax({
                type : "POST",
                async: false,
                contentType: "application/json;charset=UTF-8",
                url : "/edit/delZset",
                dataType: "json",
                data : JSON.stringify({redis:redis, database:database, key:key, k:k}),
                success : function(result) {
                    if (result.code == 1) {
                        alert(result.msg);
                        location.reload();
                    } else {
                        alert(result.msg);
                    }
                },
                error : function(e) {
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        }
    });
    $(".ttl").click(function () {
        let ttl = $("#ttl").val();
        $.ajax({
            type : "POST",
            async: false,
            contentType: "application/json;charset=UTF-8",
            url : "/edit/ttl",
            dataType: "json",
            data : JSON.stringify({redis:redis, database:database, key:key, ttl:ttl}),
            success : function(result) {
                if (result.code == 1) {
                    alert(result.msg);
                    location.reload();
                } else {
                    alert(result.msg);
                }
            },
            error : function(e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    });
</script>
